:root {
	--primary-1: hsl(195, 67%, 99%);
	--primary-2: hsl(187, 53%, 97%);
	--primary-3: hsl(184, 69%, 92%);
	--primary-4: hsl(187, 71%, 88%);
	--primary-5: hsl(187, 66%, 83%);
	--primary-6: hsl(188, 61%, 76%);
	--primary-7: hsl(189, 58%, 68%);
	--primary-8: hsl(189, 60%, 53%);
	--primary-9: hsl(191, 100%, 39%);
	--primary-10: hsl(191, 93%, 38%);
	--primary-11: hsl(192, 81%, 33%);
	--primary-12: hsl(192, 69%, 17%);

	--neutral-1: hsl(240, 20%, 99%);
	--neutral-2: hsl(240, 20%, 98%);
	--neutral-3: hsl(240, 11%, 95%);
	--neutral-4: hsl(240, 10%, 92%);
	--neutral-5: hsl(230, 11%, 89%);
	--neutral-6: hsl(240, 10%, 86%);
	--neutral-7: hsl(233, 10%, 82%);
	--neutral-8: hsl(231, 10%, 75%);
	--neutral-9: hsl(231, 6%, 57%);
	--neutral-10: hsl(226, 5%, 53%);
	--neutral-11: hsl(220, 6%, 40%);
	--neutral-12: hsl(210, 13%, 13%);
}
