:root {
	--primary-1: hsl(195, 67%, 99%);
	--primary-2: hsl(187, 53%, 97%);
	--primary-3: hsl(184, 69%, 92%);
	--primary-4: hsl(187, 71%, 88%);
	--primary-5: hsl(187, 66%, 83%);
	--primary-6: hsl(188, 61%, 76%);
	--primary-7: hsl(189, 58%, 68%);
	--primary-8: hsl(189, 60%, 53%);
	--primary-9: hsl(191, 100%, 39%);
	--primary-10: hsl(191, 93%, 38%);
	--primary-11: hsl(192, 81%, 33%);
	--primary-12: hsl(192, 69%, 17%);

	--neutral-1: hsl(0, 5%, 96%);
	--neutral-2: hsl(20, 6%, 90%);
	--neutral-3: hsl(30, 4%, 82%);
	--neutral-4: hsl(30, 6%, 69%);
	--neutral-5: hsl(30, 6%, 53%);
	--neutral-6: hsl(32, 6%, 43%);
	--neutral-7: hsl(40, 5%, 36%);
	--neutral-8: hsl(38, 5%, 31%);
	--neutral-9: hsl(30, 4%, 27%);
	--neutral-10: hsl(36, 4%, 24%);
	--neutral-11: hsl(40, 3%, 17%);
	--neutral-12: hsl(40, 5%, 12%);
}
